@import "tailwindcss";

@theme {
  --color-navy-50: #f1f5f9;
  --color-navy-100: #e2e8f0;
  --color-navy-200: #cbd5e1;
  --color-navy-300: #94a3b8;
  --color-navy-400: #64748b;
  --color-navy-500: #475569;
  --color-navy-600: #334155;
  --color-navy-700: #1e293b;
  --color-navy-800: #0f172a;
  --color-navy-900: #020617;
}

@layer base {
  body {
    @apply text-slate-900 antialiased;
  }
}

.dark {
  color-scheme: dark;
}
